main/default/flows/Link_Issue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Related_Issue</name>
        <label>Assign Related Issue</label>
        <locationX>176</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>Get_Issue.Related_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Related_Issue.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSelfReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Self_reference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flag_as_self_reference</name>
        <label>Flag as self-reference</label>
        <locationX>395</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>isSelfReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_Issue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Self_reference</name>
        <label>Is Self-reference</label>
        <locationX>389</locationX>
        <locationY>582</locationY>
        <defaultConnector>
            <targetReference>Update_Issue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Linked to self</defaultConnectorLabel>
        <rules>
            <name>Self_reference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Issue.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lookup_Related_Issue.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_as_self_reference</targetReference>
            </connector>
            <label>Self-reference</label>
        </rules>
    </decisions>
    <interviewLabel>Link Issue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Link Issue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Issue</name>
        <label>Get Issue</label>
        <locationX>176</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Link_Issue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Issue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Issue</name>
        <label>Update Issue</label>
        <locationX>176</locationX>
        <locationY>669</locationY>
        <inputReference>Get_Issue</inputReference>
    </recordUpdates>
    <screens>
        <name>Link_Issue</name>
        <label>Link Issue</label>
        <locationX>177</locationX>
        <locationY>351</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Related_Issue</targetReference>
        </connector>
        <fields>
            <name>Current_Issue_Details</name>
            <fieldText>&lt;p&gt;{!Get_Issue.Summary__c}&lt;/p&gt;&lt;p&gt;Created on {!Get_Issue.CreatedDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Message_Self_Reference</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Related Issue can&apos;t reference itself.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isSelfReference</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lookup_Related_Issue</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>testpharos111__Related_Issue__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related Issue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>testpharos111__Issue__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>relatedId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Issue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isSelfReference</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
