main/default/flows/Mark_Issue_Duplicate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Related_Issue</name>
        <label>Assign Related Issue</label>
        <locationX>411</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>Get_Issue.Related_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_duplicate_issue.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Issue.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Issue.First_Occurred_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Min_First_Occurred_On</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Issue.Last_Occurred_On__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSelfReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Self_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flag_as_self_reference</name>
        <label>Flag as self-reference</label>
        <locationX>176</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>isSelfReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mark_Duplicate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Self_Link</name>
        <label>Self Link</label>
        <locationX>168</locationX>
        <locationY>704</locationY>
        <defaultConnector>
            <targetReference>Update_Issue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not linked to self</defaultConnectorLabel>
        <rules>
            <name>Link_to_self</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Issue.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choose_duplicate_issue.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_as_self_reference</targetReference>
            </connector>
            <label>Link to self</label>
        </rules>
    </decisions>
    <formulas>
        <name>MaxLastOccurredOn</name>
        <dataType>DateTime</dataType>
        <expression>IF({!Get_Issue.Last_Occurred_On__c} &gt;= {!Related_Issue.Last_Occurred_On__c}, {!Get_Issue.Last_Occurred_On__c}, {!Related_Issue.Last_Occurred_On__c})</expression>
    </formulas>
    <formulas>
        <name>Min_First_Occurred_On</name>
        <dataType>DateTime</dataType>
        <expression>IF({!Get_Issue.First_Occurred_On__c} &lt;= {!Related_Issue.First_Occurred_On__c}, {!Get_Issue.First_Occurred_On__c}, {!Related_Issue.First_Occurred_On__c})</expression>
    </formulas>
    <interviewLabel>Mark Issue Duplicate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mark Issue Duplicate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Issue</name>
        <label>Get Issue</label>
        <locationX>176</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mark_Duplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Issue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_Issue</name>
        <label>Related Issue</label>
        <locationX>411</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Related_Issue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_duplicate_issue.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Issue__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Issue</name>
        <label>Update Issue</label>
        <locationX>411</locationX>
        <locationY>819</locationY>
        <inputReference>Get_Issue</inputReference>
    </recordUpdates>
    <screens>
        <name>Mark_Duplicate</name>
        <label>Mark Duplicate</label>
        <locationX>176</locationX>
        <locationY>328</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Related_Issue</targetReference>
        </connector>
        <fields>
            <name>Current_Issue_Details</name>
            <fieldText>&lt;p&gt;{!Get_Issue.Summary__c}&lt;/p&gt;&lt;p&gt;Created on {!Get_Issue.CreatedDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Header_Text</name>
            <fieldText>&lt;p&gt;Choose an issue that this current issue duplicates.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Message_Self_Reference</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Related Issue can&apos;t reference itself.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isSelfReference</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choose_duplicate_issue</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>testpharos111__Related_Issue__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>testpharos111__Issue__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>This issue is a duplicate of</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Duplicate_of</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Issue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Duplicate_of</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSelfReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
